meta(charset="utf-8")
meta(content="width=device-width,initial-scale=1", name="viewport")
title BreastCancer
meta(content, name="description")
meta(content, name="keywords")
//  Google Fonts 
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i", rel="stylesheet")
//  Vendor CSS Files 
link(href="assets/vendor/fontawesome-free/css/all.min.css", rel="stylesheet")
link(href="assets/vendor/animate.css/animate.min.css", rel="stylesheet")
link(href="assets/vendor/aos/aos.css", rel="stylesheet")
link(href="assets/vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
link(href="assets/vendor/bootstrap-icons/bootstrap-icons.css", rel="stylesheet")
link(href="assets/vendor/boxicons/css/boxicons.min.css", rel="stylesheet")
link(href="assets/vendor/glightbox/css/glightbox.min.css", rel="stylesheet")
link(href="assets/vendor/swiper/swiper-bundle.min.css", rel="stylesheet")
//  Template Main CSS File 
link(href="assets/css/breastCancer.css", rel="stylesheet")
link(href="assets/css/cancer.css", rel="stylesheet")
//  ======= Header ======= 
header#header.fixed-top
  .container.d-flex.align-items-center
    h1.logo.me-auto
      a(href="index.html") Cancer App
    nav#navbar.navbar.order-last.order-lg-0
      ul
        li
          a.nav-link.scrollto(href="/") Home
        li
          a.nav-link.scrollto(href="#about") About
        li
          a.nav-link.scrollto(href="/cervicalcancer") Cervical cancer
        li
          a.nav-link.scrollto(href="/breastcancer") Breast cancer
        li
          a.nav-link.scrollto(href="/prostatecancer") Prostate cancer
        li
          a.nav-link.scrollto(href="/throatcancer") Throat cancer
      i.bi.bi-list.mobile-nav-toggle
    //  .navbar 
//  End Header 
section#hero1
  .hero-container1(data-aos="zoom-in", data-aos-delay="100")
    h1.mb-4.pb-0
      | Let's Talk About
      br
      span Breast
      |  Cancer
    a.glightbox.play-btn.mb-4(href="https://www.youtube.com/watch?v=Ig1-n4X8pCY")
//  ======= About Section ======= 
section#about.about
  .container(data-aos="fade-up")
    .section-header
      h2 What Is Breast Cancer?
      p
        | Breast cancer is an uncontrolled growth of breast cells. The term “breast cancer” refers to a malignant tumor that has developed from cells in the breast. Usually breast cancer either begins in the cells of the lobules, which are the milk-producing glands, or the ducts, the passages that drain milk from the lobules to the nipple.

        br
        span
          | Less commonly, breast cancer can begin in the stromal tissues, which include the fatty and fibrous connective tissues of the breast.

          br
          br
          span Although Breast Cancer is more common in women, Men can also get breast cancer
    //  End Tab 3 Content 
//  End About Section 
section#cta.cta1
  .container(data-aos="zoom-out")
    .row.g-5
      .col-lg-8.col-md-6.content.d-flex.flex-column.justify-content-center.order-last.order-md-first
        h3
          | Risk 
          em Factors
          |  of Breast Cancer(Causes).
        h2 Age
        p The risk of developing breast cancer increases with age. The condition is most common in women over age 50 who have been through the menopause. About 8 out of 10 cases of breast cancer happen in women over 50.
        h2 Family history
        p If you have close relatives who have had breast cancer or ovarian cancer, you may have a higher risk of developing breast cancer. However, because breast cancer is the most common cancer in women, it's possible for it to occur in more than one family member by chance. Most cases of breast cancer do not run in families, but genes known as BRCA1 and BRCA2 can increase your risk of developing both breast and ovarian cancer. It's possible for these genes to be passed on from a parent to their child. The genes TP53 and CHEK2, are also associated with an increased risk of breast cancer.
        h2 Previous breast cancer or lump
        p If you have previously had breast cancer or early non-invasive cancer cell changes in breast ducts, you have a higher risk of developing it again, either in your other breast or in the same breast.
        h2 Dense breast tissue
        p Your breasts are made up of thousands of tiny glands (lobules) that produce milk. This glandular tissue contains a higher concentration of breast cells than other breast tissue, making it denser. Women with dense breast tissue may have a higher risk of developing breast cancer as there are more cells that can become cancerous.
        h3 Other life style Factors
        p Obesity
        p Alcohol
        p Radiation
      .col-lg-4.col-md-6.order-first.order-md-last.d-flex.align-items-center
        .img
          img.img-fluid(src="assets/img/cancerimage.webp", alt)
//  ======= About Us Section ======= 
section#about.about1
  .container(data-aos="fade-up")
    .section-title
      h2 Syptoms/Signs of breast Cancer
    .row.content
      .col-lg-6
        p.
          
          There are different signs of breast cancer but they are only conclusive after diagnosis by a medical worker.
          
        br
        //  <h4> syptoms</h4> 
        ul
          li
            i.ri-check-double-line
            |  swelling of all or part of the breast
          li
            i.ri-check-double-line
            |  skin irritation or dimpling
          li
            i.ri-check-double-line
            |  breast pain
          li
            i.ri-check-double-line
            |  nipple pain or the nipple turning inward
          li
            i.ri-check-double-line
            |  redness, scaliness, or thickening of the nipple or breast skin
          li
            i.ri-check-double-line
            |  a nipple discharge other than breast milk
          li
            i.ri-check-double-line
            |  a lump in the underarm area
      .col-lg-3.pt-4.pt-lg-0
        img.img-fluid(src="assets/img/doctors/doctors-4.jpg", alt)
      .col-lg-3.pt-4.pt-lg-0
        img.img-fluid(src="assets/img/doctors/doctors-3.jpg", alt)
        br
        br
//  End About Us Section 
//  ======= Gallery Section ======= 
section#gallery.gallery
  .container(data-aos="fade-up")
    .section-title
      h2 Gallery
    .gallery-slider.swiper
      .swiper-wrapper.align-items-center
        .swiper-slide
          a.gallery-lightbox(href="assets/img/doctors/doctors-4.jpg")
            img.img-fluid(src="assets/img/gallery/gallery-1.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/img/departments-4.jpg")
            img.img-fluid(src="assets/img/gallery/gallery-2.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/img/gallery/gallery-3.jpg")
            img.img-fluid(src="assets/img/gallery/gallery-3.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/img/gallery/gallery-4.jpg")
            img.img-fluid(src="assets/img/gallery/gallery-4.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/img/gallery/gallery-5.jpg")
            img.img-fluid(src="assets/img/gallery/gallery-5.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/img/gallery/gallery-6.jpg")
            img.img-fluid(src="assets/img/gallery/gallery-6.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/img/gallery/gallery-7.jpg")
            img.img-fluid(src="assets/img/gallery/gallery-7.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/img/gallery/gallery-8.jpg")
            img.img-fluid(src="assets/img/gallery/gallery-8.jpg", alt)
      .swiper-pagination
//  End Gallery Section 
//  ======= F.A.Q Section ======= 
section#faq.faq
  .container-fluid(data-aos="fade-up")
    .row.gy-4
      .col-lg-7.d-flex.flex-column.justify-content-center.align-items-stretch.order-2.order-lg-1
        .content.px-xl-5
          h3
            | Frequently Asked 
            strong Questions
          p.
            
            Some questions that are frequently being asked.
            
        .accordion.accordion-flush.px-xl-5#faqlist
          .accordion-item(data-aos="fade-up", data-aos-delay="200")
            h3.accordion-header
              button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq-content-1")
                i.bi.bi-question-circle.question-icon
                | 
Does BreastCancer also affect men?

            #faq-content-1.accordion-collapse.collapse(data-bs-parent="#faqlist")
              .accordion-body.
                
                yes, although at a very small percentage.
                
         
            .accordion-item(data-aos="fade-up", data-aos-delay="300")
              h3.accordion-header
                button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq-content-2")
                  i.bi.bi-question-circle.question-icon
                  | 
                  Can someone who has survived breast cancer suffer from it again?

              #faq-content-2.accordion-collapse.collapse(data-bs-parent="#faqlist")
                .accordion-body.
                  
                  Yes, is very possible.
                  
            //  # Faq item
            .accordion-item(data-aos="fade-up", data-aos-delay="400")
              h3.accordion-header
                button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq-content-3")
                  i.bi.bi-question-circle.question-icon
                  | 
                  Is breast Cancer curable?

              #faq-content-3.accordion-collapse.collapse(data-bs-parent="#faqlist")
                .accordion-body.
                  
                  Yes, there're treatments that have been put up for this purpose.
                  
           
                .col-lg-5.align-items-stretch.order-1.order-lg-2.img(style="background-image: url('/assests/cancerimages/breastcancer/images');")  
 
            section#cta.cta
              .container(data-aos="zoom-in")
                .text-center
                  h3
                    | DO YOU HAVE ANY MORE QUESTIONS

                    p
                  h4
                    span please visit a health center or contact us to recommend one to you.
                  p
                  a.cta-btn(href="#") Contact Us
 
              footer#footer
              .footer-top
              .container
                .row
                  .col-lg-3.col-md-6.footer-contact
                    h3 CancerApp
            p
              | 
              Kampala
                          br
                          | 
              Uganda
              br
              strong Phone:
              |  +256 77777777
              br
              strong Email:
              |  cancerapp@gmail.com
              br
            .col-lg-3.col-md-6.footer-links
            h4 Useful Links
            ul
              li
                i.bx.bx-chevron-right
                |  
                a(href="./index.html") Home
              li
                i.bx.bx-chevron-right
                |  
                a(href="./breastCancer.html") Breast Cancer
              li
                i.bx.bx-chevron-right
                |  
                a(href="./cervicalCancer.html") Cervical Cancer
              li
                i.bx.bx-chevron-right
                |  
                a(href="./prostateCancer.html") Prostate Cancer
              li
                i.bx.bx-chevron-right
                |  
                a(href="./throatCancer.html") Throat Cancer
              li
                i.bx.bx-chevron-right
                |  
                a(href="#") Contact Us
            .col-lg-3.col-md-6.footer-links
            h4 Our Social Networks
            p Connect with us through our social Media
            .social-links.mt-3
              a.twitter(href="#")
                i.bx.bxl-twitter
              a.facebook(href="#")
                i.bx.bxl-facebook
              a.instagram(href="#")
                i.bx.bxl-instagram
              a.google-plus(href="#")
                i.bx.bxl-skype
              a.linkedin(href="#")
                i.bx.bxl-linkedin
            .container.footer-bottom.clearfix
            .copyright
       
             Copyright 
                  strong
                    span CancerApp
                  | . All Rights Reserved

                  .credits.
        
        
  
                  #preloader
                  a.back-to-top.d-flex.align-items-center.justify-content-center(href="#")
                    i.bi.bi-arrow-up-short
                  //  Vendor JS Files 
                  script(src="assets/vendor/purecounter/purecounter.js")
                  script(src="assets/vendor/aos/aos.js")
                  script(src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
                  script(src="assets/vendor/glightbox/js/glightbox.min.js")
                  script(src="assets/vendor/isotope-layout/isotope.pkgd.min.js")
                  script(src="assets/vendor/swiper/swiper-bundle.min.js")
                  script(src="assets/vendor/php-email-form/validate.js")
                  //  Template Main JS File 
                  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js")
                  script(src="assets/js/main.js")
                  script(src="assets/js/cancer.js")