meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
//  Boxicons 
link(href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css", rel="stylesheet")
//  My CSS 
link(rel="stylesheet", href="./assets/css/admin.css")
title AdminHub
//  SIDEBAR 
section#sidebar
  a.brand(href="#")
    i.bx.bxs-smile
    span.text Hospital Corner
  ul.side-menu.top
    li.active
      a(href="#")
        i.bx.bxs-dashboard
        span.text Dashboard
    //
       <li>
      				<a href="#">
      					<i class='bx bxs-doughnut-chart' ></i>
      					<span class="text">Analytics</span>
      				</a> 
    li
      a(href="/outreachForm/outreach")
        i.bx.bxs-message-dots
        span.text Consultations
    li
      a(href="#")
        i.bx.bxs-group
        span.text LFT-Patients
    li
      a(href="/specialist")
        i.bx.bxs-group
        span.text specialists
    li
      a(href="#")
        i.bx.bxs-book
        span.text Published Articles
  ul.side-menu
    li
      a.logout(href="#")
        i.bx.bxs-log-out-circle
        span.text Logout
//  SIDEBAR 
//  CONTENT 
section#content
  //  NAVBAR 
  nav
    i.bx.bx-menu
    a.nav-link(href="#") keyword
    form(action="#")
      .form-input
        input(type="search", placeholder="Search...")
        button.search-btn(type="submit")
          i.bx.bx-search
    input#switch-mode(type="checkbox", hidden)
    label.switch-mode(for="switch-mode")
    a.notification(href="#")
      i.bx.bxs-bell
      span.num 8
  //  NAVBAR 
  //  MAIN 
  main
    .head-title
      .left
        h1 Dashboard
        ul.breadcrumb
          li
            a(href="/hospitalDashboard") Dashboard
          li
            i.bx.bx-chevron-right
          li
            a.active(href="./index.html") Home
      a.btn-download(href="./referralForm")
        span.text Download PDF
    ul.box-info
      li
        i.bx.bxs-group
        span.text
          h3 30
          p Patients Referred
      li
        i.bx.bxs-group
        span.text
          h3 28
          p Patients attended
      li
        i.bx.bxs-group
        span.text
          h3 $58
          p Total Patients
    .table-data
      .order
        .head
          h3 Referrals
          i.bx.bx-search
          i.bx.bx-filter
        table
          thead
            tr
              th Patient Name
              th reason
              th Status
          tbody
            tr
              td
                p John Doe
              td prostateCancer
              td
                span.status.completed Completed
  //  MAIN 
//  CONTENT 
script(src="./assets/js/admin.js")