<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cancer App</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/newlogin.css" rel="stylesheet">
  
  
</head>

<body>

  

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      
      <h1 class="logo me-auto"><a href="index.html">Cancer App</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="/cervicalcancer">Cervical cancer</a></li>
          <li><a class="nav-link scrollto" href="/breastcancer">Breast cancer</a></li>
          <li><a class="nav-link scrollto" href="/prostatecancer">Prostate cancer</a></li>
          <li><a class="nav-link scrollto" href="/throatcancer">Throat cancer</a></li>
          
          
         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      
      <input type="checkbox" id="show">
      <label for="show" class="show-btn"> login </label>
  
      <div class="container1">
          <label for="show" class="close-btn" title="close">×</label>
          <h1>log in</h1>
          <form>
            <div class="error" style="background-color: red;"></div><br>
              <label for="username">username</label>
              <input type="text" id="username" required/>
              <label for="password">Password</label>
              <input type="password" id="password">
              
              <button type="submit" value="login" id="submit">Submit</button>
              <div class="link">Not a member? <a href="/register">Sigup here</a></div>
              
          </form>
      </div>
      

      <!-- <a href="/login" class="appointment-btn scrollto"><span class="d-none d-md-inline">login</a> -->
      <a href="/register" class="appointment-btn scrollto"><span class="d-none d-md-inline">Contact a specialist</a>

        <!-- <input type="checkbox" id="show">
        <label for="show" class="show-btn"> login </label>
    
        <div class="container1">
            <label for="show" class="close-btn" title="close">×</label>
            <h1>Welcome</h1>
            <form action="#">
                <label>Email or Phone</label>
                <input type="text">
                <label>Password</label>
                <input type="password">
                <a href="#">Forgot Password?</a>
                <button>Submit</button>
                <div class="link">Not a member? <a href="#">Sigup here</a></div>
                
            </form>
        </div>
         -->
              
          </form>
      </div>


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
                                                
        <div class="carousel-item active" style="background-image: linear-gradient(rgba(10, 10, 10, 0.7),rgba(12, 12, 12, 0.7)),url(assets/img/cancerimage.webp)">
          <div class="container">
            <h2>Welcome to <span>CancerApp</span></h2>
            <p>We bridge the gap in accessing cancer Information that is accurate and providing urgent care</p>
            <!-- <a href="/aboutUs.html" class="btn-get-started scrollto">Read More</a> -->
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image:  linear-gradient(rgba(10, 10, 10, 0.7),rgba(12, 12, 12, 0.7)),url(assets/img/slide/slide-2.jpg)">
          <div class="container">
            <h2>Welcome to <span>CancerApp</span></h2>
            <p>We bridge the gap in accessing cancer Information that is accurate and providing urgent care</p>
            <!-- <a href="/aboutUs.html" class="btn-get-started scrollto">Read More</a> -->
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: linear-gradient(rgba(10, 10, 10, 0.7),rgba(12, 12, 12, 0.7)),url(assets/cancerimages/heroimages/images1.jpg)">
          <div class="container">
            <h2>Welcome to <span>CancerApp</span></h2>
            <p>We bridge the gap in accessing cancer Information that is accurate and providing urgent care</p>
            <!-- <a href="/aboutUs.html" class="btn-get-started scrollto">Read More</a> -->
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->
  
  <main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>What Is Cancer?</h2>
          <p>Cancer is a disease in which some of the body’s cells grow uncontrollably and spread to other parts of the body.
            Cancer can start almost anywhere in the human body, which is made up of trillions of cells. Normally, human cells grow and multiply (through a process called cell division) to form new cells as the body needs them. When cells grow old or become damaged, they die, and new cells take their place.
          </p>
          <br/>
          <p>Sometimes this orderly process breaks down, and abnormal or damaged cells grow and multiply when they shouldn’t. These cells may form tumors, which are lumps of tissue. Tumors can be cancerous or not cancerous (benign). </p>
          <br/>
          <p>Cancerous tumors spread into, or invade, nearby tissues and can travel to distant places in the body to form new tumors (a process called metastasis). Cancerous tumors may also be called malignant tumors. Many cancers form solid tumors, but cancers of the blood, such as leukemias, generally do not.</p>
          <br/>
          <p>Benign tumors do not spread into, or invade, nearby tissues. When removed, benign tumors usually don’t grow back, whereas cancerous tumors sometimes do. Benign tumors can sometimes be quite large, however. Some can cause serious symptoms or be life threatening, such as benign tumors in the brain.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>How Does Cancer Develop?</h3>
            <p class="fst-italic">
              Cancer is a genetic disease—that is, it is caused by changes to genes that control the way our cells function, especially how they grow and divide.
              <br/>
              Genetic changes that cause cancer can happen because:


            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> of errors that occur as cells divide.</li>
              <li><i class="bi bi-check-circle"></i> of damage to DNA caused by harmful substances in the environment, such as the chemicals in tobacco smoke and ultraviolet rays from the sun..</li>
              <li><i class="bi bi-check-circle"></i> hey were inherited from our parents.</li>
            </ul>
            <p>
              The body normally eliminates cells with damaged DNA before they turn cancerous. But the body’s ability to do so goes down as we age. This is part of the reason why there is a higher risk of cancer later in life.
              <br/>
              <br/>
              Each person’s cancer has a unique combination of genetic changes. As the cancer continues to grow, additional changes will occur. Even within the same tumor, different cells may have different genetic changes.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <!-- ======= Featured Services Section ======= -->
    <!-- <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-knowledge"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-thermometer"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

        </div>

      </div> -->
    <!-- </section> -->
    <!-- End Featured Services Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">
    <H2>How can cancer be detected?</H2>
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
        <div class="icon-box mt-5 mt-lg-0">
          <i class="bx bx-receipt"></i>
          <h4>Lab tests</h4>
          <p>High or low levels of certain substances in your body can be a sign of cancer. So, lab tests of your blood, urine, or other body fluids that measure these substances can help doctors make a diagnosis. However, abnormal lab results are not a sure sign of cancer.</p>
        </div>
        <div class="icon-box mt-5">
          <i class="bx bx-cube-alt"></i>
          <h4>Imaging Tests</h4>
          <p>Imaging tests create pictures of areas inside your body that help the doctor see whether a tumor is present. These pictures can be made in several ways:</p>
          <ul style="margin-left: 60px;">
            <li>CT scans</li>
            <li>MRI</li>
            <li>Nuclear scan</li>
          </ul>
        </div>
        <div class="icon-box mt-5">
          <i class="bx bx-images"></i>
          <h4>Biopsy</h4>
          <p>In most cases, doctors need to do a biopsy to diagnose cancer. A biopsy is a procedure in which the doctor removes a sample of tissue. A pathologist looks at the tissue under a microscope and runs other tests to see if the tissue is cancer. The pathologist describes the findings in a pathology report, which contains details about your diagnosis.</p>
        </div>
        <!-- <div class="icon-box mt-5">
          <i class="bx bx-shield"></i>
          <h4>Beatae veritatis</h4>
          <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
        </div> -->
      </div>
      <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/features.jpg");' data-aos="zoom-in"></div>
    </div>

  </div>
</section><!-- End Features Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Some of the services we offer directly to make sure the public is more knowledgeable about cancer and get the help
            they need if required.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="fas fa-info"></i></div>
            <h4 class="title"><a href="">Cancer Information</a></h4>
            <p class="description">We provide the public with free cancer information. Our information is accurate and updated on a regular basis so that we it it up to date.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="fas fa-nodes"></i></div>
            <h4 class="title"><a href="">Specialist Services</a></h4>
            <p class="description">We connect you to specialists that have great knowledge of a particular kind of cancer.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4 class="title"><a href="">Diagnosis </a></h4>
            <p class="description">We connect you to specialists who will give you accurate diagnosis.</p>
          </div>
          
        </div>

      </div>
    </section><!-- End Services Section -->
    <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Let's Talk About Cancer</h2>
          <p>We believe information and knowledge is power, Get The Facts Here.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                  <h4>Breast Cancer</h4>
                  <p>Cancer That affects The breast.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                  <h4>Cervical Cancer</h4>
                  <p>Cancer that affects the cervix.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                  <h4>Prostate Cancer</h4>
                  <p>Prostate cancer is cancer that occurs in the prostate. The prostate is a small walnut-shaped gland in males that produces the seminal fluid.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                  <h4>Throat cancer</h4>
                  <p>Throat cancer refers cancer that develops in your throat (pharynx) or voice box (larynx).</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-8">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <h3>Breast Cancer</h3>
                <p class="fst-italic">There are several types of breast cancer. The most commonTrusted Source type is ductal carcinoma, which begins in a milk duct.</p>
                <img src="assets/img/breastNaked.webp" alt="" class="img-fluid">
                <p>Breast cancer is the most common invasive cancer in females. It is also a leading cause of cancer deaths among females.

                </p>
                <a href="./breastCancer.html" class="appointment-btn scrollto"><span class="d-none d-md-inline">Know More</a>
              </div>
              <div class="tab-pane" id="tab-2">
                <h3>Cervical Cancer</h3>
                <p class="fst-italic">Cervical cancer develops in a woman's cervix (the entrance to the uterus from the vagina)</p>
                <img src="assets/cancerimages/cervicalimages/images (3).jpg" alt="" class="img-fluid">
                <p>Almost all cervical cancer cases (99%) are linked to infection with high-risk human papillomaviruses (HPV), an extremely common virus transmitted through sexual contact.
                  Although most infections with HPV resolve spontaneously and cause no symptoms, persistent infection can cause cervical cancer in women.
                  Cervical cancer is the fourth most common cancer in women. In 2018, an estimated 570 000 women were diagnosed with cervical cancer worldwide and about 311 000 women died from the disease.</p>
                <a href="./cervicalCancer.html" class="appointment-btn scrollto"><span class="d-none d-md-inline">Know More</a>
              </div>
              <div class="tab-pane" id="tab-3">
                <h3>Prostate Cancer</h3>
                <p class="fst-italic">Prostate cancer is a common type of cancer in males, but it is highly treatable in the early stages.</p>
                <img src="assets/cancerimages/prostateimages/images (3).jpg" alt="" class="img-fluid">
                <p>Prostate cancer is cancer of the prostate gland. It is the second-leading cause of cancer death for men</p>
                <a href="./prostateCancer.html" class="appointment-btn scrollto"><span class="d-none d-md-inline">Know More</a>
              </div>
              <div class="tab-pane" id="tab-4">
                <h3>Throat Cancer</h3>
                <p class="fst-italic">Throat cancer (including cancers of the larynx and tonsils) can affect anyone.</p>
                <img src="assets/cancerimages/throatcancer/images (5).jpg" alt="" class="img-fluid">
                <p>There are several different types of throat cancer and many places within the throat where cancer can develop. The symptoms and progression will depend on the type and location of the cancer.</p>
                <a href="./throatCancer.html" class="appointment-btn scrollto"><span class="d-none d-md-inline">Know More</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Departments Section -->



    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>In an emergency? Need help now?</h3>
          <p>Let us get you help. </p>
          <a class="cta-btn scrollto" href="/email">Make an Make an Appointment</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>

              <p><strong>Doctors</strong> All qualified doctors who make first diagnosis and make referrals.</p>
              <!-- <a href="#">Find out more &raquo;</a> -->
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-users"></i>
              <span data-purecounter-start="0" data-purecounter-end="1226" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Patients</strong> Patients that have used our services and received help.</p>
              <!-- <a href="#">Find out more &raquo;</a> -->
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Research Lab</strong> our labs are well equipped and we are always doing research to get better at what we do.</p>
              <!-- <a href="#">Find out more &raquo;</a> -->
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Awards</strong>are appreciation of our work.</p>
              <!-- <a href="#">Find out more &raquo;</a> -->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

   

    
    
    
    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <!--  --<div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <!-- <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->

            <!-- <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div>End testimonial item -->

            <!-- <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div> -->
            <!-- </div> -->
            <!-- End testimonial item -->

          <!-- </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>End Testimonials Section  --> -->

    

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Check out photos of our different activities. Pictures say alot.</p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-1.jpg"><img src="assets/img/gallery/gallery-1.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-2.jpg"><img src="assets/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-3.jpg"><img src="assets/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-4.jpg"><img src="assets/img/gallery/gallery-4.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-5.jpg"><img src="assets/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-6.jpg"><img src="assets/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-7.jpg"><img src="assets/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-8.jpg"><img src="assets/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    

    <!-- ======= Frequently Asked Questioins Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questioins</h2>
          <p>Some of the frequently asked questions answered</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Who gets cancer?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Anyone can get cancer, although the risk goes up with age. Your individual risk depends on factors such as whether you smoke, lifestyle choices such as what you eat and how much you exercise, your family history of cancer, and factors in your workplace and environment.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Is cancer contagious? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                No. Cancer isn’t like the flu or a cold. You can’t catch cancer from someone who has the disease.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Is there a vaccine for cancer? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                There is no vaccine for cancer. But there are vaccines for some viruses that are known to cause cancer, such as the human papillomavirus (HPV) and hepatitis B.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">How do cancer drugs work? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Chemotherapy uses drugs to destroy cancer cells. But chemotherapy drugs can also harm healthy cells, leading to treatment side effects.

                Newer drugs, called targeted drugs, block genes or proteins found in the cancer cells. Targeted therapy usually causes less harm to healthy cells, but it still has side effects.

                Immunotherapy uses hormones and other drugs that work with your immune system to treat cancer.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">When should I get tested for cancer? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Recommendations for the types of screening tests and the ages you should get them vary according to cancer type. So, it’s a good idea to have a conversation with your doctor about what type of test you might need and when. 
              </p>
            </div>
          </li>

          

        </ul>

      </div>
    </section><!-- End Frequently Asked Questioins Section -->

    
      

  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
   <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CancerApp</h3>
            <p>
              Kampala <br>
               Uganda<br>
              
              <strong>Phone:</strong> +256 77777777<br>
              <strong>Email:</strong> cancerapp@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/breastcancer">Breast Cancer</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/cervicalcancer">Cervical Cancer</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/prostatecancer">Prostate Cancer</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/throatcancer">Throat Cancer</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact Us</a></li>
            </ul>
          </div>

          
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Connect with us through our social Media</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>CancerApp</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
       
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
	   
	     <!-----tweenmax.min.js cdn--------->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
  <script src="assets/js/main.js"></script>

  <script>
    const form = document.querySelector('form')
    const username = document.querySelector('#username')
    const password = document.querySelector('#password')
    const display = document.querySelector('.error')
   form.addEventListener('submit', async (e) => {
      e.preventDefault()
      display.textContent = ''
      try {
        const res = await fetch('/api/auth/login', {
          method: 'POST',
          body: JSON.stringify({ username: username.value, password: password.value }),
          headers: { 'Content-Type': 'application/json' }
        })
        const data = await res.json()
        if (res.status === 400 || res.status === 401) {
          return display.textContent = `${data.message}. ${data.error ? data.error : ''}`
        }
        data.role === "specialist" ? location.assign('/show') : location.assign('/basic') || data.role === "Basic" ? Location.assign('/basic') : location.assign('/admin')
        // data.role === "specialist"; location.assign('/show') 
        // data.role === "Basic" ; location.assign('/basic')
        // data.role === "admin" ; location.assign('/admin')

        
        
      } 
      catch (err) {
        console.log(err.message)
      }
    })
  </script>

</body>

</html>