<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="../public/assets/css/newoutreachform.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   
<body>
    
        
  <div class="container">

    <div class="title">Register specialist</div>
    <div class="content">

        <form method='POST',action='/', name='form'>
            <div class="formclass">
                
            <div class="user-details">
          <div class="input-box1">
            <span class="details">first Name</span>
            <input type="textarea" id="firstname" name="firstname" placeholder="Enter first name" required>
           
          </div>
          
          <div class="input-box1">
            <span class="details">Last Name</span>
            <input type="text" id="lastname" name="lastname" placeholder="Enter Last Name" required>
          </div>
          
   
        <div class="gender-details">
          <label for="gender">Gender</label><br>
          <select name="gender" id="gender" required>
            <option value=""></option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
        </select>
          
          </div>
        </div>

        <div class="gender-details">

          <label for="specialisation">Specialisation</label><br>
          <select name="specialisation" id="specialisation" required>
            <option value=""></option>
              <option value="throat">Throat Cancer</option>
              <option value="breast">Breast Cancer</option>
              <option value="prostate">Prostate Cancer</option>
              <option value="breast">Cervical Cancer</option>
          </select>
          <p class="specialisation_info.warnP"></p>
      </div>




        <div class="user-details">
            
              <div class="input-box1">
                <span class="details">Location</span>
                <input type="text" id="Location" name="Location" placeholder="Enter  Location" required>
              </div>
       
          <div class="user-details">
            
            <div class="input-box1">
              <span class="details">Phone Number</span>
              <input type="text" id="telephoneNo" name="telephoneNo" placeholder="Enter Phone Number" required>
            </div>
            
            
                <div class="input-box1">
                  <span class="details">Email</span>
                  <input type="email" id="email" name="email" placeholder="Enter  Email" required>
                </div>
               
                  
      </div>
      </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
