meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title
meta(name="description", content)
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href)
h2 MINISTRY OF HEALTH AND UGANDA CANCER INSTITUTE
.description
  h1 DESCRIPTION OF QUESTIONS
  p Write the date on the first blank row, nothing else is witten on that row
  h2 SECTION A: Description
form(method='POST', action='/', name='outreachForm')
  label(for="rdate") 1.Date: Write the date of screening:
  input#rdate(type="date", name="rdate")
  br
  label(for="location") Location of outreach
  input#location(type="textarea", name="location")
  br
  label(for="serialNo")
    span 2.
    | Serial No
  input#serialNo(type="text", name="serialNo")
  br
  label(for="clientNo")
    span 3.
    | Client No
  input#clientNo(type="text", name="clientNo")
  br
  label(for="name")
    span 4.
    | Name
  input#name(type="name", name="name")
  br
  label(for="age")
    span 5.
    | Age
  input#age(type="text", name="age")
  br
  label(for="sex")
    span 6.
    | Sex
  input#sex(type="text", name="sex")
  br
  label(for="nin")
    span 7.
    | NIN
  input#nin(type="text", name="nin")
  br
  
  label(for="clientcategory")
    span 8.
    | clientcategory
  input#national(type="checkbox", name="national", value="national")
  label(for="national") National
  input#refugee(type="checkbox", name="refugee", value="refugee")
  label(for="refugee") Refugee
  input#foreigner(type="checkbox", name="foreigner", value="foreigner")
  label(for="foreigner") Foreigner
  br
  br
  label(for="address")
    span 9.
    | Address
  br
  label(for="district") District
  input#district(type="text", name="district")
  br
  label(for="subcounty") Sub-county
  input#subcounty(type="text", name="subcounty")
  br
  label(for="village") Village
  input#village(type="text", name="village")
  br
  label(for="parish") Parish
  input#parish(type="text", name="parish")
  br
  label(for="tribe") Tribe/Religion
  input#tribe(type="text", name="tribe")
  br
  label(for="occupation") Occupation
  input#occupation(type="text", name="occupation")
  br
  label(for="phoneNo")
    span 10.
    | Phone NO.
  input#phoneNo(type="text", name="phoneNo")
  br
  label(for="riskfactor")
    span 11.
    | Risk Factor
  input#smoking(type="checkbox", name="smoking", value="smoking")
  label(for="smoking") Smoking
  input#alcohol(type="checkbox", name="alcohol", value="alcohol")
  label(for="alcohol") alcohol
  input#status(type="checkbox", name="status", value="status")
  label(for="status") HIV Status(POS)
  input#inactivity(type="checkbox", name="inactivity", value="inactivity")
  label(for="inactivity") Physical Inactivity
  input#parity(type="checkbox", name="parity", value="parity")
  label(for="parity") Parity
  br
  br
  label(for="complaint") Complaint/Purpose for visit
  input#complaint(type="text", name="complaint")
  br
  label(for="referred") Reffered from/By:
  input#reffered(type="text", name="reffered")
  br
  h2 SECTION B: For Physician Use
  label(for="findings")
    span 14.
    | Physical findings
  input#findings(type="text", name="findings")
  br
  label(for="tests")
    span 15.
    | Tests requested/done(Codes below)
  input#tests(type="text", name="tests")
  br
  label(for="result")
    span 16.
    | Outcome/Result
  input#result(type="text", name="result")
  br
  label(for="lesionsize")
    span 17.
    | Lesion size if applicable
  input#lesionsize(type="text", name="lesionsize")
  br
  label(for="referredTo")
    span 18.
    | Referred to/By
  input#referredTo(type="text", name="referredTo")
  br
  label(for="followUpDate")
    span 19.
    | Next follow up date if applicable
  input#followUpDate(type="text", name="followUpDate")
  br
  .footer
    p
      | Health Management Information System 
      span Health unit and communnity proceedure Manual
    .button
            input(type='submit', value='Register')