<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./assets/css/outreach.css">
    </head>
    <body>
        <div class="formclass">
        <h2>MINISTRY OF HEALTH AND UGANDA CANCER INSTITUTE</h2>
        <div class="description">
            <h2>DESCRIPTION OF QUESTIONS</h2>
            <P>Write the date on the first blank row, nothing else is witten on that row</P>
            <h2>SECTION A: Description </h2>
        </div>
        
        <form method='POST', action='/outreachform', name='outreachForm'>
        <label for="rdate">1.Date: Write the date of screening:</label><br>
        <input type="textarea" id="rdate" name="rdate"  required><br>
        <label for="location">Location of outreach</label><br>
        <input type="textarea" id="location" name="location" required ><br>
        <label for="serialNo"><span>2.</span>Serial No</label><br>
        <input type="text" id="serialNo" name="serialNo"  required><br>
        <label for="clientNo"><span>3.</span>Client No</label><br>
        <input type="text" id="clientNo" name="clientNo"  required><br>
        <label for="name"><span>4.</span>Name</label><br>
        <input type="name" id="name" name="name" required><br>
        <label for="age"><span>5.</span>Age</label><br>
        <input type="text" id="age" name="age" required><br>
        <label for="sex"><span>6.</span>Sex</label><br>
        <input type="text" id="sex" name="sex" required><br>
        <label for="nin"><span>7.</span>NIN</label><br>
        <input type="text" id="nin" name="nin" required><br>
        <label for="clientcategory"><span>8.</span>clientcategory</label>
        <input type="checkbox" id="national" name="national" value="national">
        <label for="national"> National</label>
        <input type="checkbox" id="refugee" name="refugee" value="refugee">
        <label for="refugee"> Refugee</label>
        <input type="checkbox" id="foreigner" name="foreigner" value="foreigner">
        <label for="foreigner"> Foreigner</label><br><br>
        <label for="age"><span>9.</span>Address</label><br>
        <label for="district">District</label><br>
        <input type="text" id="district" name="district" ><br>
        <label for="subcounty">Sub-county</label>
        <input type="text" id="subcounty" name="subcounty" ><br>
        <label for="village">Village</label><br>
        <input type="text" id="village" name="village" ><br>
        <label for="parish">Parish</label><br>
        <input type="text" id="parish" name="parish" ><br>
        <label for="tribe">Tribe/Religion</label><br>
        <input type="text" id="tribe" name="tribe" ><br>
        <label for="occupation">Occupation</label><br>
        <input type="text" id="occupation" name="occupation" ><br>
        <label for="phoneNo"><span>10.</span>Phone NO.</label><br>
        <input type="text" id="phoneNo" name="phoneNo" ><br>
        <label for="riskfactor"><span>11.</span>Risk Factor</label><br>

        <input type="checkbox" id="smoking" name="smoking" value="smoking">
        <label for="smoking"> Smoking</label>
        <input type="checkbox" id="alcohol" name="alcohol" value="alcohol">
        <label for="alcohol"> alcohol</label>
        <input type="checkbox" id="status" name="status" value="status">
        <label for="status"> HIV Status(POS)</label>
        <input type="checkbox" id="inactivity" name="inactivity" value="inactivity">
        <label for="alcohol"> Physical Inactivity</label>
        <input type="checkbox" id="parity" name="parity" value="parity">
        <label for="parity"> Parity</label><br><br>
        <label for="complaint">Complaint/Purpose for visit</label><br>
        <input type="text" id="complaint" name="complaint" ><br>
        <label for="referred">Reffered from/By:</label><br>
        <input type="text" id="reffered" name="reffered" ><br>
        <h2>SECTION B: For Physician Use </h2>
        <label for="findings"><span>14.</span>Physical findings</label><br>
        <input type="text" id="findings" name="findings" ><br>
        <label for="tests"><span>15.</span>Tests requested/done(Codes below)</label><br>
        <input type="text" id="tests" name="tests" ><br>
        <label for="result"><span>16.</span>Outcome/Result</label><br>
        <input type="text" id="result" name="result" ><br>
        <label for="lesionsize"><span>17.</span>Lesion size if applicable</label><br>
        <input type="text" id="lesionsize" name="lesionsize" ><br>
        <label for="referredTo"><span>18.</span>Referred to/By</label><br>
        <input type="text" id="referredTo" name="referredTo" ><br>
        <label for="followUpDate"><span>19.</span>Next follow up date if applicable</label><br>
        <input type="text" id="followUpDate" name="followUpDate" ><br>
        <button id="submit">submit</button>
    </div>
        <div class="footer" style="margin-left: 200px;"><p>Health Management Information System <span>Health unit and communnity proceedure Manual</span></p></div>
        </form> 
        
    </body>
</html>