meta(charset="utf-8")
meta(content="width=device-width,initial-scale=1", name="viewport")
title Prostate Cancer
meta(content, name="description")
meta(content, name="keywords")
//  Google Fonts 
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i", rel="stylesheet")
link(href="assets/vendor/fontawesome-free/css/all.min.css", rel="stylesheet")
link(href="assets/vendor/animate.css/animate.min.css", rel="stylesheet")
link(href="assets/vendor/aos/aos.css", rel="stylesheet")
link(href="assets/vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
link(href="assets/vendor/bootstrap-icons/bootstrap-icons.css", rel="stylesheet")
link(href="assets/vendor/boxicons/css/boxicons.min.css", rel="stylesheet")
link(href="assets/vendor/glightbox/css/glightbox.min.css", rel="stylesheet")
link(href="assets/vendor/swiper/swiper-bundle.min.css", rel="stylesheet")
link(href="assets/css/prostate.css", rel="stylesheet")
link(href="assets/css/cancer.css", rel="stylesheet")
//  ======= Header ======= 
header#header.fixed-top
  .container.d-flex.align-items-center
    h1.logo.me-auto
      a(href="index.html") Cancer App
    nav#navbar.navbar.order-last.order-lg-0
      ul
        li
          a.nav-link.scrollto(href="/") Home
        li
          a.nav-link.scrollto(href="#about") About
        li
          a.nav-link.scrollto(href="/cervicalcancer") Cervical cancer
        li
          a.nav-link.scrollto(href="/breastcancer") Breast cancer
        li
          a.nav-link.scrollto(href="/prostatecancer") Prostate cancer
        li
          a.nav-link.scrollto(href="/throatcancer") Throat cancer
      i.bi.bi-list.mobile-nav-toggle
    //  .navbar 
//  End Header 
section#hero1
  .hero-container1(data-aos="zoom-in", data-aos-delay="100")
    h1.mb-4.pb-0
      | Let's Talk About
      br
      span Prostate
      |  Cancer
    a.glightbox.play-btn.mb-4(href="https://www.youtube.com/watch?v=zg3j5Ig4dJY")
//  ======= About Section ======= 
section#about.about
  .container(data-aos="fade-up")
    .section-header
      h2 What Is Prostate Cancer?
      p
        | Prostate cancer is a common type of cancer in males, but it is highly treatable in the early stages. It begins in the prostate gland, which sits between the penis and the bladder.

        br
        span
          | This type of cancer affects only men.

          br
          br
          span Other than skin cancer, prostate cancer is the most cancer affecting males 
//  End About Section 
section#cta.cta1
  .container(data-aos="zoom-out")
    .row.g-5
      .col-lg-8.col-md-6.content.d-flex.flex-column.justify-content-center.order-last.order-md-first
        h3
          | Risk 
          em Factors
          |  of Prostate Cancer(Causes).
        h2 Age
        p The risk of prostate cancer increases after the age of 50, but it is rare before 45..
        h2 Family history
        p person with a close relative who has a history of prostate cancer has a higher chance of developing it themselves.
        h2 Race or ethnicity
        p.
          The condition is more common in Black people than white people. Asian and Hispanic people have a lower risk than Black or white people.
          
        h2 Genetic factors
        p Inherited features, including changes to the BRCA1 and BRCA2 genes, may increase the risk. Mutations in these genes also increase the chance of breast cancer. Men born with Lynch syndrome also have a higher risk of prostate and other cancers.
        h3 Other life style Factors
        p obesity
        p smoking
        p alcohol consumption
        p exposure to chemicals, such as the herbicide Agent Orange
        p inflammation of the prostate
        p sexually transmitted infections
        p vasectomy surgery
      .col-lg-4.col-md-6.order-first.order-md-last.d-flex.align-items-center
        .img
          img.img-fluid(src="assets/cancerimages/prostateimages/images (7).jpg", alt)
//  ======= About Us Section ======= 
section#about.about1
  .container(data-aos="fade-up")
    .section-title
      h2 Syptoms/Signs of prostate Cancer
    .row.content
      .col-lg-6
        p.
          
          There are different signs of prostate cancer but they are only conclusive after diagnosis by a medical worker.
          
        br
        ul
          li
            i.ri-check-double-line
            |  Difficulty starting urination.
          li
            i.ri-check-double-line
            |  Weak or interrupted flow of urine.
          li
            i.ri-check-double-line
            |  Frequent urination, especially at night.
          li
            i.ri-check-double-line
            |  Difficulty emptying the bladder completely.
          li
            i.ri-check-double-line
            | Pain or burning during urination.
          li
            i.ri-check-double-line
            |  Blood in the urine or semen.
          li
            i.ri-check-double-line
            |  Pain in the back, hips, or pelvis that doesn’t go away.
          li
            i.ri-check-double-line
            |  Painful ejaculation.
      .col-lg-3.pt-4.pt-lg-0
        img.img-fluid(src="assets/cancerimages/prostateimages/images (1).jpg", alt)
      .col-lg-3.pt-4.pt-lg-0
        img.img-fluid(src="assets/cancerimages/prostateimages/images.jpg", alt)
        br
        br
//  End About Us Section 
//  ======= Gallery Section ======= 
section#gallery.gallery
  .container(data-aos="fade-up")
    .section-title
      h2 Gallery
    .gallery-slider.swiper
      .swiper-wrapper.align-items-center
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/prostateimages/images (13).jpg")
            img.img-fluid(src="assets/cancerimages/prostateimages/images (7).jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/prostateimages/images (12).jpg")
            img.img-fluid(src="assets/img/gallery/gallery-2.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/prostateimages/images (11).jpg")
            img.img-fluid(src="assets/img/gallery/gallery-3.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/prostateimages/images (1).jpg")
            img.img-fluid(src="assets/img/gallery/gallery-4.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/prostateimages/images (2).jpg")
            img.img-fluid(src="assets/img/gallery/gallery-5.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/prostateimages/images (4).jpg")
            img.img-fluid(src="assets/img/gallery/gallery-6.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/prostateimages/images (6).jpg")
            img.img-fluid(src="assets/img/gallery/gallery-7.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/prostateimages/images (8).jpg")
            img.img-fluid(src="assets/img/gallery/gallery-8.jpg", alt)
      .swiper-pagination
//  End Gallery Section 
//  ======= F.A.Q Section ======= 
section#faq.faq
  .container-fluid(data-aos="fade-up")
    .row.gy-4
      .col-lg-7.d-flex.flex-column.justify-content-center.align-items-stretch.order-2.order-lg-1
        .content.px-xl-5
          h3
            | Frequently Asked 
            strong Questions
          p.
            
            Some questions that are frequently being asked.
            
        .accordion.accordion-flush.px-xl-5#faqlist
          .accordion-item(data-aos="fade-up", data-aos-delay="200")
            h3.accordion-header
              button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq-content-1")
                i.bi.bi-question-circle.question-icon
                | 
Does BreastCancer also affect men?

            #faq-content-1.accordion-collapse.collapse(data-bs-parent="#faqlist")
              .accordion-body.
                
                yes, although at a very small percentage.
                
          
            .accordion-item(data-aos="fade-up", data-aos-delay="300")
              h3.accordion-header
                button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq-content-2")
                  i.bi.bi-question-circle.question-icon
                  | 
Can someone who has survived breast cancer suffer from it again?

            #faq-content-2.accordion-collapse.collapse(data-bs-parent="#faqlist")
              .accordion-body.
                
                Yes, is very possible.
                
         
            .accordion-item(data-aos="fade-up", data-aos-delay="400")
              h3.accordion-header
                button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq-content-3")
                  i.bi.bi-question-circle.question-icon
                  | 
Is breast Cancer curable?

            #faq-content-3.accordion-collapse.collapse(data-bs-parent="#faqlist")
              .accordion-body.
                
                Yes, there're treatments that have been put up for this purpose.
                
         
            .col-lg-5.align-items-stretch.order-1.order-lg-2.img(style="background-image: url('assets/cancerimages/prostateimages/images(1)');")  

section#cta.cta
  .container(data-aos="zoom-in")
    .text-center
      h3
        | DO YOU HAVE ANY MORE QUESTIONS

        p
      h4
        span please visit a health center or contact us to recommend one to you.
      p
      a.cta-btn(href="#") Contact Us
//  End #main 
//  ======= Footer ======= 
footer#footer
  .footer-top
    .container
      .row
        .col-lg-3.col-md-6.footer-contact
          h3 CancerApp
          p
            | 
Kampala
            br
            | 
Uganda
            br
            strong Phone:
            |  +256 77777777
            br
            strong Email:
            |  cancerapp@gmail.com
            br
            .col-lg-3.col-md-6.footer-links
              h4 Useful Links
              ul
                li
                  i.bx.bx-chevron-right
                  |  
                  a(href="./index.html") Home
                li
                  i.bx.bx-chevron-right
                  |  
                  a(href="./breastCancer.html") Breast Cancer
                li
                  i.bx.bx-chevron-right
                  |  
                  a(href="./cervicalCancer.html") Cervical Cancer
                li
                  i.bx.bx-chevron-right
                  |  
                  a(href="./prostateCancer.html") Prostate Cancer
                li
                  i.bx.bx-chevron-right
                  |  
                  a(href="./throatCancer.html") Throat Cancer
                li
                  i.bx.bx-chevron-right
                  |  
                  a(href="#") Contact Us
            .col-lg-3.col-md-6.footer-links
              h4 Our Social Networks
              p Connect with us through our social Media
              .social-links.mt-3
                a.twitter(href="#")
                  i.bx.bxl-twitter
                a.facebook(href="#")
                  i.bx.bxl-facebook
                a.instagram(href="#")
                  i.bx.bxl-instagram
                a.google-plus(href="#")
                  i.bx.bxl-skype
                a.linkedin(href="#")
                  i.bx.bxl-linkedin
            .container.footer-bottom.clearfix
              .copyright
     
            Copyright 
            strong
              span CancerApp
            | . All Rights Reserved

            .credits.
            
      
//  End Footer 
#preloader
a.back-to-top.d-flex.align-items-center.justify-content-center(href="#")
  i.bi.bi-arrow-up-short
//  Vendor JS Files 
script(src="assets/vendor/purecounter/purecounter.js")
script(src="assets/vendor/aos/aos.js")
script(src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
script(src="assets/vendor/glightbox/js/glightbox.min.js")
script(src="assets/vendor/isotope-layout/isotope.pkgd.min.js")
script(src="assets/vendor/swiper/swiper-bundle.min.js")
script(src="assets/vendor/php-email-form/validate.js")
//  Template Main JS File 
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js")
script(src="assets/js/main.js")
script(src="assets/js/cancer.js")