<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>HMIS FORM 032: REFERRAL NOTE</h2>

        <form action="/action_page.php">
        <label for="rdate">Date Of Referral:</label>
        <input type="text" id="rdate" name="rdate" ><br>
        <label for="to">To:</label>
        <input type="text" id="to" name="to" ><br>
        <label for="healthunit">FROM : HealthUnit</label>
        <input type="text" id="healthunit" name="healthunit" >
        <label for="referralnumber">Referral Number:</label>
        <input type="text" id="referralnumber" name="referralnumber" ><br><br>
        <label for="REFERENCE">REFERENCE:Patient Name:</label>
        <input type="text" id="reference" name="reference" >
        <label for="patientNo.">Patient Number:</label>
        <input type="text" id="patientNo" name="patientNo" ><br>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" >
        <label for="age">Sex:</label>
        <input type="text" id="sex" name="sex" >
        <label for="fVisit">Date Of First Visit:</label>
        <input type="text" id="fVisit" name="fVisit" ><br>
        <div class="request"><h1>Please attend to the above person who we are refering to your health unit for further action</h1></div>
        <input type="submit" value="Submit">
        </form> 
        
    </body>
</html>