meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
link(rel="stylesheet", href="./assets/css/login.css")
link(rel="stylesheet", href="./assets/css/breastCancer.css")
link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap", rel="stylesheet")
title Login page
section.side
  img(src="./assets/img/doctors-2-removebg-preview.png", alt)
section.main
  .login-container
    p.title Sign Up
    .separator
    p.welcome-message
      | Already Have an account 
      a(href="/login") Login Here
    form.login-form
      .form-control
        input(type="text", placeholder="Email")
        i.fas.fa-user
      //
         <div class="form-control">
                            <input type="text" placeholder="Username">
                            <i class="fas fa-user"></i>
                        </div> 
      .form-control
        input(type="password", placeholder="Password")
        i.fas.fa-lock
      .buttons
        button.submit
          a(href="/login") SignUp
        button.submit1
          a(href="/") Cancel