<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/specialisation.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="back"><a href="/hospital"> Back to Dashboard </a></div>
    <div class="logout"> <a href="/logout">Log Out</a></div>
    
    <div class="formclass">
    <form method='POST',action='/', name='form'>
        <h4>Register Specialist</h4>
        <div>
        <label for="fname"> First Name</label><br>
        <input type='text', name='firstname', placeholder=" First Name" required>
        <p class="fname_info_warnP"></p>
        
        </div>
        <div>
        <label for="lname"> Last Name</label><br>
        <input type='text', name='lastname', placeholder=" Last Name" required>
        <p class="lname_info.warnP"></p>
        <div>
        <div>
            <label for="gender">Gender</label><br>
            <select name="gender" id="gender" required>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>
            <p class="gender_info.warnP"></p>
        </div>
        <div>
            <label for="specialisation">Specialisation</label><br>
            <select name="specialisation" id="specialisation" required>
                <option value="throat">Throat Cancer</option>
                <option value="breast">Breast Cancer</option>
                <option value="prostate">Prostate Cancer</option>
                <option value="breast">Cervical Cancer</option>
            </select>
            <p class="specialisation_info.warnP"></p>
        </div>
        <div>
            <label for="location">Location</label><br>
            <input type="text" name="location" id="location" required>
            <p class="location_info.warnp"></p>
        </div>
        <div>
        <label for="telephoneNo"> Phone Number</label><br>
        <input type="string" , name="telephoneNo", id="telephoneNo" required>
        <p class="telephoneNo_info.warnp"></p>
        </div>
        <div>
            <label for="email">Email</label><br>
            <input type="email", name="email", id="email" required>
            <p class="email_info.warnp"></p>
        </div>
        <div>
            <button id="submit">Submit</button>
        </div>

    </form>
</div>
    
   
</body>
</html>