extends layout 
block content
    
    title specialist
    
    link(rel='stylesheet', href='/css/pugForm.css')
      
    body
      .main-content
          header
            h2
              .header-title
                
                
                |                 Cancer App
    
        
          .container-fluid
          .row
            .col-3
              
            
            .col-5
              .card 
                h5 Specialist Registration Form 
                .card-body 
                
                  form(method='POST',action='/specialist/specialistReg', name='specialistRegForm')
                    
                    label(for='fname') First Name
                    |         
                    input#fname(type='text', name='fname')
                    p.fname_info.warnP|     
                    |         
                    
                    label(for='lname') Last Name
                    |         
                    input#lname(type='text', name='lname')
                    p.lname_info.warnP|     
                    |         
                    
                    label(for='gender') Gender
                    |         
                    select#gender(name='gender')
                      option(value='')
                      |  
                      |         
                      option(value='Female') Female
                      |         
                      option(value='Male') Male
                    p.gender_info.warnP
                    label(for='specialisation') Specialisation
                    select#specialisation(name='specialisation') specialisation
                      option(value='')
                      |  
                      |         
                      option(value='Breast') Breast Cancer
                      |         
                      option(value='Throat') Throat Cancer
                      option(value='Cervical') Cervical Cancer
                      |         
                      option(value='Prostate') Prostate Cancer
                    p.specialisation_info.warnP
                    
                    label(for='location') Location:              
                    input#location(type='location', name='location')
                    p.location_info.warnP|     
                    |         
                    
                    label(for='telephoneNo') Contact
                    input#telephoneNo(type='string', name='telephoneNo')
                    p.telephoneNo_info.warnP

                    label(for='email') Email   
                    input#email(type='email', name='email', *='')
                    p.nin_info.warnP|     
                    |         
                    
                      

                  


                    input(type='submit', value='Submit')
              .col-4
            script.
            script(src='/javascript/specialistVal.js')
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
            script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js', integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0', crossorigin='anonymous')
