meta(charset="utf-8")
meta(content="width=device-width,initial-scale=1", name="viewport")
title ThroatCancer
meta(content, name="description")
meta(content, name="keywords")
//  Google Fonts 
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i", rel="stylesheet")
//  Vendor CSS Files 
link(href="assets/vendor/fontawesome-free/css/all.min.css", rel="stylesheet")
link(href="assets/vendor/animate.css/animate.min.css", rel="stylesheet")
link(href="assets/vendor/aos/aos.css", rel="stylesheet")
link(href="assets/vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
link(href="assets/vendor/bootstrap-icons/bootstrap-icons.css", rel="stylesheet")
link(href="assets/vendor/boxicons/css/boxicons.min.css", rel="stylesheet")
link(href="assets/vendor/glightbox/css/glightbox.min.css", rel="stylesheet")
link(href="assets/vendor/swiper/swiper-bundle.min.css", rel="stylesheet")
//  Template Main CSS File 
link(href="assets/css/throatcancer.css", rel="stylesheet")
link(href="assets/css/cancer.css", rel="stylesheet")
//  ======= Header ======= 
header#header.fixed-top
  .container.d-flex.align-items-center
    h1.logo.me-auto
      a(href="index.html") Cancer App
    nav#navbar.navbar.order-last.order-lg-0
      ul
        li
          a.nav-link.scrollto(href="/") Home
        li
          a.nav-link.scrollto(href="#about") About
        li
          a.nav-link.scrollto(href="/cervicalcancer") Cervical cancer
        li
          a.nav-link.scrollto(href="/breastcancer") Breast cancer
        li
          a.nav-link.scrollto(href="/prostatecancer") Prostate cancer
        li
          a.nav-link.scrollto(href="/throatcancer") Throat cancer
      i.bi.bi-list.mobile-nav-toggle
    //  .navbar 
//  End Header 
section#hero2
  .hero-container1(data-aos="zoom-in", data-aos-delay="100")
    h1.mb-4.pb-0
      | Let's Talk About
      br
      span Throat
      |  Cancer
    a.glightbox.play-btn.mb-4(href="https://www.youtube.com/watch?v=vMKGfNoFStM")
//  ======= About Section ======= 
section#about.about
  .container(data-aos="fade-up")
    .section-header
      h2 What Is Throat Cancer?
      p
        | Throat cancer refers cancer that develops in your throat (pharynx) or voice box (larynx). Your throat is a muscular tube that begins behind your nose and ends in your neck. Throat cancer most often begins in the flat cells that line the inside of your throat.

        br
        span
          | Less commonly, breast cancer can begin in the stromal tissues, which include the fatty and fibrous connective tissues of the breast.

          br
          br
          span Your voice box sits just below your throat and also is susceptible to throat cancer. The voice box is made of cartilage and contains the vocal cords that vibrate to make sound when you talk.
//  End About Section 
section#cta.cta1
  .container(data-aos="zoom-out")
    .row.g-5
      .col-lg-8.col-md-6.content.d-flex.flex-column.justify-content-center.order-last.order-md-first
        h3
          | Risk 
          em Factors
          |  of Throat Cancer(Causes).
        h2 HPV 16 and HPV 18
        p While HPV is most commonly associated with cervical cancer, HPV-positive oropharyngeal cancer is the fastest-growing head and neck cancer in the United States. Your risk of developing HPV-positive throat cancer depends in part on the strain of HPV to which you were exposed. For instance, some strains cause warts on the skin, mouth, or genitals but rarely, if ever, cause cancer. Other strains are higher risk and have a greater association with cancer formation. The strains most commonly linked to head and neck cancer are HPV 16 and, less commonly, HPV 18. Thankfully, for most people, including those with high-risk HPV, the body will get rid of the infection on its own.
        h2 Tobacco
        p Tobacco use includes both smoking and smokeless tobacco (snuff and chewing tobacco). People who are exposed to secondhand smoke are also at a greater risk for throat cancer. If you smoke or chew tobacco, you can reduce your risk of throat cancer — and the risk to those around you
        h2 Alcohol
        p Alcohol consumption is another major risk factor for throat cancer.
        h2 Betel quid and gutka
        p People who chew betel quid or gutka, which is more common in parts of Asia, have an increased risk of throat cancer.
        h3 Other Factors
        p a diet low in fruits and vegetables
        p a diet high in salt-cured fish and meat
        p a diagnosis of Plummer-Vinson syndrome
        p exposure to the Epstein-Barr virus
        p Asian ancestry
      .col-lg-4.col-md-6.order-first.order-md-last.d-flex.align-items-center
        .img
          img.img-fluid(src="assets/cancerimages/throatcancer/images (2).jpg", alt)
//  ======= About Us Section ======= 
section#about.about1
  .container(data-aos="fade-up")
    .section-title
      h2 Syptoms/Signs of Throat Cancer
    .row.content
      .col-lg-6
        p.
          
          There are different signs of throat cancer but they are only conclusive after diagnosis by a medical worker.
          
        br
        //  <h4> syptoms</h4> 
        ul
          li
            i.ri-check-double-line
            |  Persistent cough
          li
            i.ri-check-double-line
            |  Difficulty swallowing
          li
            i.ri-check-double-line
            |  A lump in the mouth, throat or neck
          li
            i.ri-check-double-line
            |  Hoarseness or other voice changes
          li
            i.ri-check-double-line
            |  Ear or jaw pain
          li
            i.ri-check-double-line
            |  White patches or sores in the mouth or throat
          li
            i.ri-check-double-line
            |  Difficulty breathing
          li
            i.ri-check-double-line
            |  Headaches
          li
            i.ri-check-double-line
            |  Unexplained weight loss
          li
            i.ri-check-double-line
            |  Swelling of the eyes, jaw, throat or neck
          li
            i.ri-check-double-line
            |  Bleeding in the mouth or nose
      .col-lg-3.pt-4.pt-lg-0
        img.img-fluid(src="assets/cancerimages/throatcancer/images (4).jpg", alt)
      .col-lg-3.pt-4.pt-lg-0
        img.img-fluid(src="assets/cancerimages/throatcancer/images (5).jpg", alt)
        br
        br
//  End About Us Section 
//  ======= Gallery Section ======= 
section#gallery.gallery
  .container(data-aos="fade-up")
    .section-title
      h2 Gallery
    .gallery-slider.swiper
      .swiper-wrapper.align-items-center
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/throatcancer/download (1).jpg")
            img.img-fluid(src="assets/cancerimages/throatcancer/download (1).jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/throatcancer/download.jpg")
            img.img-fluid(src="assets/cancerimages/throatcancer/download.jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/throatcancer/images (1).jpg")
            img.img-fluid(src="assets/cancerimages/throatcancer/images (1).jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/throatcancer/images (1).jpg")
            img.img-fluid(src="assets/cancerimages/throatcancer/images (1).jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/throatcancer/images (3).jpg")
            img.img-fluid(src="assets/cancerimages/throatcancer/images (3).jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/throatcancer/images (4).jpg")
            img.img-fluid(src="assets/cancerimages/throatcancer/images (4).jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/throatcancer/images (5).jpg")
            img.img-fluid(src="assets/cancerimages/throatcancer/images (5).jpg", alt)
        .swiper-slide
          a.gallery-lightbox(href="assets/cancerimages/throatcancer/images.jpg")
            img.img-fluid(src="assets/cancerimages/throatcancer/images.jpg", alt)
      .swiper-pagination
//  End Gallery Section 
//  ======= F.A.Q Section ======= 
section#faq.faq
  .container-fluid(data-aos="fade-up")
    .row.gy-4
      .col-lg-7.d-flex.flex-column.justify-content-center.align-items-stretch.order-2.order-lg-1
        .content.px-xl-5
          h3
            | Frequently Asked 
            strong Questions
          p.
            
            Some questions that are frequently being asked.
            
        .accordion.accordion-flush.px-xl-5#faqlist
          .accordion-item(data-aos="fade-up", data-aos-delay="200")
            h3.accordion-header
              button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq-content-1")
                i.bi.bi-question-circle.question-icon
                | 
Who can get throat cancer?

            #faq-content-1.accordion-collapse.collapse(data-bs-parent="#faqlist")
              .accordion-body.
                
                Throat cancer is more common among males but it can affect all people, of all ages. The average age for a patient is over 60 but increasing numbers are getting throat cancer younger. Experts believe HPV is the reason.
                
          
            .accordion-item(data-aos="fade-up", data-aos-delay="300")
              h3.accordion-header
                button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq-content-2")
                  i.bi.bi-question-circle.question-icon
                | 
What are the treatments for throat cancer?

            #faq-content-2.accordion-collapse.collapse(data-bs-parent="#faqlist")
              .accordion-body.
                
                This varies from patient to patient and depends on the kind of cancer, it’s location and stage. It also depends on the resources available at the hospital. Surgery, Radiotherapy and Chemotherapy can all play a part in treatment. Some patients will require all three modes of treatment.
                
         
            .accordion-item(data-aos="fade-up", data-aos-delay="400")
              h3.accordion-header
                button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq-content-3")
                  i.bi.bi-question-circle.question-icon
                | 
What is HPV?

            #faq-content-3.accordion-collapse.collapse(data-bs-parent="#faqlist")
              .accordion-body.
                
                HPV, or Human Papillomavirus, is an infection which lives in the skin and is extremely contagious. 80% of people will have had an HPV infection by the time they reach middle age. For the majority of people they will have little or no symptoms. For some people HPV can develop into cancer: throat, anal, vaginal, cervical and vulval cancers can all be caused by HPV
                
            .accordion-item(data-aos="fade-up", data-aos-delay="400")
              h3.accordion-header
                button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq-content-3")
                  i.bi.bi-question-circle.question-icon
                  | 
What is gender neutral HPV vaccination?

              #faq-content-3.accordion-collapse.collapse(data-bs-parent="#faqlist")
                .accordion-body.
                  
                  This means that vaccination to protect against HPV is given to all regardless of their gender. At the moment the HPV vaccination is only given to girls in the UK and leading cancer experts have advised that the programme should be expanded to include males. More information is available here about our experts call for HPV vaccination.
                  
           
                  .col-lg-5.align-items-stretch.order-1.order-lg-2.img(style="background-image: url("assets/img/109.jpg");")  
//  End F.A.Q Section 
section#cta.cta
  .container(data-aos="zoom-in")
    .text-center
      h3
        | DO YOU HAVE ANY MORE QUESTIONS

        p
      h4
        span please visit a health center or contact us to recommend one to you.
      p
      a.cta-btn(href="#") Contact Us
//  End #main 
//  ======= Footer ======= 
footer#footer
  .footer-top
    .container
      .row
        .col-lg-3.col-md-6.footer-contact
          h3 CancerApp
          p
            | 
Kampala
            br
            | 
Uganda
            br
            strong Phone:
            |  +256 77777777
            br
            strong Email:
            |  cancerapp@gmail.com
            br
            .col-lg-3.col-md-6.footer-links
              h4 Useful Links
              ul
                li
                  i.bx.bx-chevron-right
                  |  
                  a(href="./index.html") Home
                li
                  i.bx.bx-chevron-right
                  |  
                  a(href="./breastCancer.html") Breast Cancer
                li
                  i.bx.bx-chevron-right
                  |  
                  a(href="./cervicalCancer.html") Cervical Cancer
                li
                  i.bx.bx-chevron-right
                  |  
                  a(href="./prostateCancer.html") Prostate Cancer
                li
                  i.bx.bx-chevron-right
                  |  
                  a(href="./throatCancer.html") Throat Cancer
                li
                  i.bx.bx-chevron-right
                  |  
                  a(href="#") Contact Us
            .col-lg-3.col-md-6.footer-links
              h4 Our Social Networks
              p Connect with us through our social Media
              .social-links.mt-3
                a.twitter(href="#")
                  i.bx.bxl-twitter
                a.facebook(href="#")
                  i.bx.bxl-facebook
                a.instagram(href="#")
                  i.bx.bxl-instagram
                a.google-plus(href="#")
                  i.bx.bxl-skype
                a.linkedin(href="#")
                  i.bx.bxl-linkedin
            .container.footer-bottom.clearfix
              .copyright
                | 
                Copyright 
                  strong
                    span CancerApp
                  | . All Rights Reserved

            .credits.
      
      
//  End Footer 
#preloader
a.back-to-top.d-flex.align-items-center.justify-content-center(href="#")
  i.bi.bi-arrow-up-short
//  Vendor JS Files 
script(src="assets/vendor/purecounter/purecounter.js")
script(src="assets/vendor/aos/aos.js")
script(src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
script(src="assets/vendor/glightbox/js/glightbox.min.js")
script(src="assets/vendor/isotope-layout/isotope.pkgd.min.js")
script(src="assets/vendor/swiper/swiper-bundle.min.js")
script(src="assets/vendor/php-email-form/validate.js")
//  Template Main JS File 
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js")
script(src="assets/js/main.js")
script(src="assets/js/cancer.js")