html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewpoint" content="=*width=device-width, initial-scale=1.0*")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    
    
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl', crossorigin='anonymous')
    title update Specialist
    
    

    
    
            h4 Welcome
            body
          

    div.form-row
        div.col.form-group.col-md-12   
            div.form-row
                div.col-md-10
                    p Here is your information #{user.firstname}
    div.form-row
        
    form(method="post" action="/outreachForm/update?id="+user._id)
        table.table
            thead.thead-dark
                tr
                    th Screening Date
                    td 
                        input.form-control(value = user.date name ="date")
                tr
                    th outreach Location
                    td 
                        input.form-control(value = user.location name ="location")
                
                tr
                    th Gender
                        td 
                            label Male&nbsp
                            input(value= "male" type="radio" checked = user.gender==="male" name="gender") 
                            label &nbspFemale&nbsp
                            input(value= "female" type="radio" checked = user.gender==="female" name="gender")
                
                tr
                    th Specialisation
                        td 
                            label Breast cancer&nbsp
                            input(value= "breast" type="radio" checked = user.specialisation==="breast" name="specialisation") 
                            label &nbspThroat cancer&nbsp
                            input(value= "throat" type="radio" checked = user.specialisation==="throat" name="specialisation")

                tr
                    th Serial No
                        td 
                             input.form-control(value = user.serialNo name ="serialNo")             
                tr 
                    th Client No. 
                        td
                             input.form-control(value = user.clientNo name ="clientNo")   

                tr
                    th Name
                        td 
                               input.form-control(value = user.name name ="name")  
                
                  

                
                tr
                    td(colspan=2)
                        button.btn.btn-dark.btn-block(type="submit") Update
