.sidebar {
   position: fixed; 
    color:orange;
    top: 100px;
    bottom: 0;
    width: 180px;
    left: 0;
    text-decoration: none;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color:rgb(44, 43, 43) ;
    border-right: 1px solid #eee;
    }
    @media (min-width: 768px) {
        .main {
        background-color:rgb(250, 193, 69);
        padding-right: 40px;
        padding-left: 220px; /* 180 + 40 */
        }
    .card{
        background-color: rgb(248, 220, 167);
         color: green;
         padding: 16px 20px;
         border: none;
         cursor: pointer;
         opacity: 1;
         position: fixed;
         top: 70%;
         left: 56%;
         transform: translate(-50%, -50%);
         width:75%;
         height:80%;
         font-size:25px;
       }
       form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: none;
        float: left;
       
        
        width: 30%;
        background: #f1f1f1;
      }
      
      /* Style the submit button */
      form.example button {
        float: left;
       
        width: 8%;
        padding: 8px;
        background: orange;
        color: white;
        font-size: 17px;
        
        border-left: none; /* Prevent double borders */
        cursor: pointer;
        
      }
      form.example1 button {
        float: right;
       
        width: 12%;
        padding: 8px;
        background:orange;
        color: white;
        font-size: 10px;
        border-radius: 20px;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
        
      }
      form.example1 button:hover {
        background: orangered;
      }
      
      form.example button:hover {
        background: orangered;
      }
      
      /* Clear floats */
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }
      #icons{
          float:right;
      }
      
    }